html {
	width: auto;
	overflow-x: hidden;
	height: 100%;
}

body {
	height: 100%;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@font-face {
    font-family: Roboto-Light;
    src: url('/fonts/roboto/Roboto-Light.ttf');
}

video {
	border-radius: 10px !important;
}
