.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100% !important;
}

.carousel-inner {
	height: 500px !important;
}

.carousel-caption {
    padding-bottom: 450px !important;
}

.thumbnail > img, .thumbnail a > img {
    height: 212px !important;
    width: 100% !important;
}